---
import Layout from '../../layouts/Layout.astro';

const props = {
  title: "자이로스코프",
};
---

<Layout title={props.title}>
  <main>
    <section class="word-header">
      <h1>{props.title}</h1>
    </section>

    <section class="details">
      <article class="detail-section">
        <h2>정의</h2>
        <img src="/images/illuminationsensor.jpg" alt="자이로스코프 이미지" style="max-width: 100%; height: auto; margin-bottom: 1rem;">
        <p>회전하는 물체의 각에 대한 속도와 기울기를 측정 즉 코리올리 효과와 같은 물체의 회전을 감지하며, 스마트폰 내부에 진동하는 구조물로 회전운동 측정, 이것을 디지털 신호로 변환한다. 가속도 센서와 함께 사용시 정확한 움직임 추적 가능</p>
      </article>

      <article class="detail-section">
        <h2>사용 용도</h2>
        <ul>
          <li><b>카메라 안정화:</b> </li>
          <li><b>내비게이션 정확도 향상:</b> </li>
          <li><b>정밀 모션게임인식:</b> </li>
        </ul>
      </article>

      <article class="detail-section">
        <h2>참고 자료</h2>
        <ul>
          {/* 추가 참고자료 링크 */}
        </ul>
      </article>

      <article class="detail-section">
        <h2>참고 동영상</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/id6ju45wunE?si=a58_CzWtkBj4ntmP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <lite-youtube videoid="Dp6Mrxe0r1E" style="max-width: 480px; width: 100%; aspect-ratio: 16/9; display: block; margin-bottom: 1rem;"></lite-youtube>
      </article>
    </section>
  </main>
</Layout>

<style>
  .word-header {
    text-align: center;
    margin-bottom: 20px;
  }

  .details {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .detail-section {
    margin-bottom: 20px;
  }

  .detail-section h2 {
    color: #333;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .detail-section p,
  .detail-section li {
    color: #666;
    line-height: 1.6;
  }

  .detail-section ul {
    padding-left: 20px;
  }

  .detail-section li {
    list-style-type: disc;
  }
</style>
